{
  "extends": ["eslint:recommended"],
  "env": {
    "mocha": true,
    "browser": true,
    "commonjs": true
  },
  "globals": {
    "Promise": true,
    "Buffer": true
  },
  "rules": {
    "camelcase": [2, {"properties": "never"}],
    "semi": 2,
    "indent": [2, 2],
    "no-console": 0,
    "strict": 2,
    "max-len": [2, 120],
    "keyword-spacing": 2,
    "curly": [2, "multi-line"],
    "no-unused-vars": [2, {
      "vars": "all"
    }]
  }
}
